{# This whole document is included on request into 'tests.html' #}
<div class="container-fluid">Total time: <span id="totalTime"></span></div>
{% for example in test %}
<form action="/example_answer" method="post">
    <div class="row row-cols-lg-auto g-1 justify-content-center">
        <div class="col-lg-2">
            <div class="input group">
                <input autocomplete="off" readonly tabindex="-1" class="form-control" name="example" type="text" value="{{ example.example }}">
                <input value="{{ example.number }}" name="number" type="hidden">
                <input value="{{ example.tests_id }}" name="tests_id" type="hidden">
                <input value="0" name="timespent" type="hidden">
            </div>
        </div>
        <div class="col-lg-0">
            <span>=</span>
        </div>
        <div class="col-lg-2">
            <div class="input group">
                <input class="form-control" autofocus name="answer" placeholder="?" type="number">
            </div>
        </div>
        <div class="col-lg-0">
            <button class="btn btn-primary" type="submit" tabindex="-1">Next ({{ example.timegiven }})</button>
        </div>
        <div class="col-lg-1">Example time: <span id="exampleTime{{ example.number }}"></span></div>
    </div>
</form>
{% endfor %}
