{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='scores.js') }}"></script>
{% endblock %}
{% block title %}Scores{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h2>Scores:</h2>
        <h3>Your standing is: #</h3>
        <p>This is an average result!</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Name</th>
              <th scope="col">Examples</th>
              <th scope="col">Right answers, %</th>
              <th scope="col">Avg Time</th>
            </tr>
          </thead>
          <tbody>
            {% for score in scores %}
            <tr>
              <th scope="row">{{ score.rank }}</th>
              <td>{{ score.name }}</td>
              <td>{{ score.examples }}</td>
              <td>{{ score.rightanswers }}</td>
              <td>{{ score.avgtime }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}
